<!doctype html>
<html>
   <body>
       <form action="/">
       <h1>Name: Swetha Vijaya Raghavan </h1>
       <h2>UTA ID: 1001551229</h2>
      <header> <h1> TIME TAKEN </h1>
      </header>
      <br> <br>
		time : {{t}} <br>
      <br>
	</form>

	<form id="index" action="/Limit" method=post enctype="multipart/form-data">
	Limit:<input type="text" name="limit" placeholder="limit">
   	 <br>
   	 <br>
   	 Execute:  <button type="submit">Let's See!</button>
  </form>

<form id="index" action ="/memexec" method ="POST" enctype="multipart/form-data">
Memexecute data here
<br>
Limit:<input type="text" name="limit" placeholder="limit">
    <br>
    <br>
      Execute:  <input id="button" type="submit" value="submit">


</form>
   <h3>Normal query execuion</h3>
   <form id="index" action="/fetch" method="POST">
    <input type="text" name="mrs" value="">
    <input type="text" name="mrs1" value="">
    <input type="text" name="mrs2" value="">
     <input type="submit" name="fetch" value="fetch">
   </form>

   <hr>
   <h3>Normal query execuion</h3>
   <form id="index" action="/update" method="POST">
     <input type="text" name="mrs3" value="">
     <input type="submit" name="update" value="update">
   </form>
   <hr>

   <hr>
   <h3>random queries execution</h3>
   <form id="index" action="/rdsquery" method="POST">
     <input type="submit" name="rdsquery" value="rdsquery">
   </form>
   <hr>

   <hr><p>Delete Based on RMS Value</p>
           <form action="{{url_for('rms')}}" method="POST" enctype="multipart/form-data">
               <input type="text" value="" name="rmsval" placeholder="Enter rms">
               <input type="submit" value="RMS">
               <table border=1>
                   <thead>
                   <td>RMS in table now</td>
                   <p>{{msg}}</p>
               </table>
           </form>
   <hr>
    <form id="index" action ="/county" method ="POST" enctype="multipart/form-data">
        <br>
    county:<input type="text" name="county" placeholder="county">
    <br>
    <br> Execute:  <input id="button" type="submit" value="submit">
    </form>

       <form id="index" action ="/code" method ="POST" enctype="multipart/form-data">
        <br>
           year:<input type="number" name="year" placeholder="year">


           statecode:<input type="text" name="co" placeholder="co">
    <br>
    <br> Execute:  <input id="button" type="submit" value="submit">
    </form>

         <form id="index" action ="/countydis" method ="POST" enctype="multipart/form-data">
        <br>


           statecode:<input type="text" name="co" placeholder="co">
    <br>
    <br> Execute:  <input id="button" type="submit" value="submit">
    </form>

       <form id="index" action ="/yearrange" method ="POST" enctype="multipart/form-data">
        <br>
           year:<input type="number" name="year" placeholder="year">

    pop1:<input type="number" name="p1" placeholder="p1">
           pop2:<input type="number" name="p2" placeholder="p2">
    <br>
    <br> Execute:  <input id="button" type="submit" value="submit">
    </form>

   <h3>memcache execution with input and providing no of times</h3>
       <form id="index" action="/randomgen" method="POST" enctype="multipart/form-data">
           Enter value1<input type="text" name="depth" placeholder="Enter depth"><br><br>
           Enter value2<input type="text" name="times" placeholder="Enter count"><br><br>
           <input type="submit" name="submit" value="submit">
       </form>

      <hr>
      <h1>bar chart</h1>
   <form id="files_form" action="/code" method="POST">

        <br>
           year:<input type="number" name="year" placeholder="year">


           statecode:<input type="text" name="co" placeholder="co">
    <br>
    <br>  <input type="submit" name="barchart2" value="click">
   </form>
   <hr>

   <form action="/showmag">
	    Lets see the results of Earthquake with Iterated Magnitude Ranges
       <input type="submit" value="Calculate"> </form>

       <hr>
<form action="/showyearwiseed">
    Results of Education on Year Wise from 1970-2010 Range
    <input type="submit" value="Calculate"></form>
   </body>
</html>

<form id="in" action="/mydat">
    <p>Give a magnitude to search for earthquakes greater than that</p>
        <input type="text" placeholder="Magnitude" name="Magnitude" value="{{request.form.Magnitude}}">
        <input class="btn btn-default" type="submit" value="search">
      </form>

<form id="index" action ="/y1" method ="POST" enctype="multipart/form-data">
        <br>
           year:<input type="number" name="year" placeholder="year">
    GROUP1:
    pop1:<input type="number" name="p1" placeholder="p1">
    pop2:<input type="number" name="p2" placeholder="p2">
    <br> Execute:  <input id="button" type="submit" value="submit">
    </form>

<form id="index" action ="/y2" method ="POST" enctype="multipart/form-data">

    <br>
    year:<input type="number" name="year" placeholder="year">
    GROUP2:
    pop3:<input type="number" name="p3" placeholder="p3">
     pop4:<input type="number" name="p4" placeholder="p4">
    <br> Execute:  <input id="button" type="submit" value="submit">
</form>

<form id="index" action ="/y3" method ="POST" enctype="multipart/form-data">
    <br>
year:<input type="number" name="year" placeholder="year">
    GROUP3:
     pop5:<input type="number" name="p5" placeholder="p5">
     pop6:<input type="number" name="p6" placeholder="p6">
    <br>
    <br> Execute:  <input id="button" type="submit" value="submit">
</form>

</body>
</html>